page-home {
    .toolbar-content{
        position: absolute;
        width: 100%;
        text-align: center;
        pointer-events: none;
     }

    .allTime{
        color:black
    } 
    .lastMinute{
        color: red
    }
}
