page-home {
      ion-content{
        background-image: url("../../assets/imgs/homePageBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .toolbar-content{
        position: absolute;
        width: 100%;
        text-align: center;
        pointer-events: none;
     }

    .allTime{
        color:black
    } 
    .lastMinute{
        color:rgb(45, 185, 228);
        -webkit-animation: flickerAnimation 1s infinite;
         -moz-animation: flickerAnimation 1s infinite;
         -o-animation: flickerAnimation 1s infinite;
          animation: flickerAnimation 1s infinite;
    }

 
    
    @keyframes flickerAnimation {
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-o-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-moz-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
      @-webkit-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0; }
        100% { opacity:1; }
      }
}
