<ion-header>
  <ion-navbar>
    <ion-title>
      YouTube4Kids
    </ion-title>

  </ion-navbar>
  <ion-navbar>
    <ion-title>
      נשארו עוד {{ videoNumber }} סרטונים
    </ion-title>
    <!-- you have {{ videoNumber }} videos left to watch -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item padding>
    <!-- <ion-label floating hint="enter">Enter Word</ion-label> -->
    <ion-label floating hint="חיפוש">הכנס מילה לחיפוש</ion-label>
    <ion-input type="text" [(ngModel)]="query"></ion-input>
  </ion-item>
  <!-- <button full ion-button (click)="searchOnYouTube()" [disabled]="query === ''" color="danger">Search</button> -->
  <button *ngIf="isMobile"
   block larg round outline ion-button (click)="searchOnYouTube()" [disabled]="query === ''" color="danger">
   חפש ברשת&nbsp; 
   <ion-icon name="search"></ion-icon>
  </button>

  <button *ngIf="!isMobile"
   larg round outline ion-button (click)="searchOnYouTube()" [disabled]="query === ''" color="danger">
   חפש ברשת&nbsp; 
   <ion-icon name="search"></ion-icon>
  </button>

  <!-- <ion-title *ngIf="!found"> We did not found any results, please try again!</ion-title> -->
  <ion-title *ngIf="!found">לא מצאנו כלום, אנא חפש שוב!</ion-title>
  <ion-list text-wrap no-padding *ngIf="found">
    <button ion-item *ngFor="let list of playlists | async" (click)="playYouTubeVideo(list)">
      <ion-thumbnail item-start>
        <img [src]="list.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2>{{ list.snippet.title }}</h2>
      <p>{{ list.snippet.description | slice: 0 : 50 }}</p>
    </button>
  </ion-list>
</ion-content>