page-player {
        ion-content{
            background-image: url("../../assets/imgs/homePageBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        p{
            align-self: center;
            margin-right: 5%;
           // padding-right: 10%;
        }
        .textBox {
            padding: 5%, 5%, 5%, 5%;
            margin-top: 1%;
            background-color: white;
            border: 2px solid rgb(45, 185, 228);
            border-radius: 15px;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
          }
          h1{
            text-align: center;
            font-weight: bold;
            color:black;
            padding: 5%,5%,5%,5%;
          }   
        .toolbar-content{
            position: absolute;
            width: 100%;
            text-align: center;
            pointer-events: none;
         }
    
        .allTime{
            color:black
        } 
        .lastMinute{
            color: red;
            -webkit-animation: flickerAnimation 1s infinite;
             -moz-animation: flickerAnimation 1s infinite;
             -o-animation: flickerAnimation 1s infinite;
              animation: flickerAnimation 1s infinite;
        }
        
        @keyframes flickerAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
          }
          @-o-keyframes flickerAnimation{
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
          }
          @-moz-keyframes flickerAnimation{
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
          }
          @-webkit-keyframes flickerAnimation{
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
          }
    
    
}
